ion-button.activated, ion-button.active {
  --background: rgba(253, 106, 62, 0.2);
  --border-color: rgba(253, 106, 62, 0.2);
  --ion-color-light: #fd6a3e;
}

ion-toolbar {
  border-bottom: 1px solid var(--app-gray);
}

ion-item {
  border-bottom: 1px solid var(--app-gray);
  padding: 0 15px;

  ion-thumbnail {
    width: 62px;
    height: 62px;
    border: 1px solid var(--app-gray);
    border-radius: 10px;
    overflow: hidden;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
  }

  h3 {
    font-size: 13px;
    font-weight: 400;
    color: var(--app-gray-text);
  }

  .score {
    color: var(--app-primary);
    margin-right: 10px;
  }

  .count {
    color: var(--app-gray-text);
  }
}

.btn-tab {
  --width: 60px;
  --height: 22.5px;
  --padding-start: 6px;
  --padding-end: 6px;
}

ion-button.btn-download {
  --width: 90px;
  --height: 30px;
  --border-radius: 5px;
}