<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of pageData.slides">
            <ion-img [src]="item.img"></ion-img>
        </ion-slide>
    </ion-slides>

    <ion-toolbar>
        <ion-grid>
            <ion-row justify-content-around>
                <ion-button class="btn-tab" (click)="onTabButtonClickHandler(item)" *ngFor="let item of tabList"
                            [ngClass]="{active: item.active}" size="small" color="light"
                            fill="outline">
                    {{item.name}}
                </ion-button>
            </ion-row>
        </ion-grid>
    </ion-toolbar>


    <ion-list>
        <ion-item *ngFor="let item of list">
            <ion-thumbnail slot="start">
                <ion-img [src]="item.logo"></ion-img>
            </ion-thumbnail>

            <ion-label>
                <h2>{{item.name}}</h2>
                <h3>{{item.desc}}</h3>
                <p>
                    <span class="score">{{item.score}}分</span>
                    <span class="count">{{item.count}}次下载</span>
                </p>
            </ion-label>

            <!--TODO: 区分苹果和IOS-->
            <ion-button class="btn-download" [href]="item.href" size="small" round>点击下载</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
