ion-grid {
  padding: 0;
  background: #fff;
}

ion-col {
  text-align: center;
}

.list-header {
  height: 48px;
  background: rgba(253, 106, 62, 0.1);

  ion-col {
    font-size: 13px;
    line-height: 38px;
    font-weight: 400;
    margin-right: 0;
    color: rgba(102, 102, 102, 1);
  }
}

.idx {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: var(--app-primary);
  border-radius: 2px;
  color: #fff;
  line-height: 24px;
  text-align: center;
}

.logo {
  width: 70px;
  height: 30px;
}

.sum {
  color: var(--app-primary);
}