<ion-content>
    <ion-grid>
        <ion-row class="list-header">
            <ion-col>
                排名
            </ion-col>
            <ion-col>
                交易所
            </ion-col>
            <ion-col>
                交易量(24h)
            </ion-col>
            <ion-col>
                交易类型
            </ion-col>
        </ion-row>
        <ion-row  *ngFor="let item of pageData.list;  let idx = index" justify-content-around align-items-center>
            <ion-col>
                <span class="idx">{{idx + 1}}</span>
            </ion-col>
            <ion-col>
                <ion-img class="logo" [src]="item.logo"></ion-img>
            </ion-col>
            <ion-col>
                <ion-label class="sum">{{item.sum}}</ion-label>
            </ion-col>
            <ion-col>
                <ion-label>{{item.tradeType}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>


    <!--<ion-list>-->
        <!--<ion-item *ngFor="let item of pageData.list;  let idx = index" justify-content-around align-items-center>-->
            <!--<span class="idx">{{idx + 1}}</span>-->
            <!--<ion-img class="logo" [src]="item.logo"></ion-img>-->
            <!--<ion-label class="sum">{{item.sum}}</ion-label>-->
            <!--<ion-label>{{item.tradeType}}</ion-label>-->
        <!--</ion-item>-->
    <!--</ion-list>-->
</ion-content>
