<ion-tabs tabbarPlacement="top">
  <ion-tab label="必装APP" href="/tabs/(application:application)">
    <ion-router-outlet name="application"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="交易所排行"  href="/tabs/(exchange:exchange)">
    <ion-router-outlet name="exchange"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="必读教程"  href="/tabs/(article-list:article-list)">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-router-outlet name="article-list"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="热门公众号"  href="/tabs/(wechat-number:wechat-number)">
    <ion-router-outlet name="wechat-number"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
