ion-button {
  font-size: 13px;
}

ion-button.activated, ion-button.active {
  --background: rgba(253, 106, 62, 0.2);
  --border-color: rgba(253, 106, 62, 0.2);
  --ion-color-light: #fd6a3e;
}

ion-item {
  border-bottom: 1px solid var(--app-gray);
}

ion-avatar {
  width: 60px;
  height: 60px;
  border: 1px solid var(--app-gray);
}

.name {
  font-size: 16px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}

.reason {
  font-size: 13px;
  font-weight: 400;
  color: var(--app-gray-text);
}

.fun {
  font-size: 13px;
  font-weight: 400;
  color: var(--app-gray-text);
}

.id {
  color: var(--app-primary);
}

.title {
  color: #666666;
  margin-right: 4px;
}

.copy {
  position: absolute;
  right: 15px;
  bottom: 6px;
  font-weight: 400;

  --ion-color-base: rgba(253, 106, 62, 0.2);
  --ion-color-contrast: var(--app-primary);

  --width: 50px;
  --height: 20px;
  --border-radius: 2px;
}

.has-copy {
  --padding-start: 1px;
  --padding-end: 1px;
  color: #999999;
  --background: #CCCCCC;
}