<ion-content>
    <ion-item *ngFor="let item of pageData.list">
        <ion-avatar slot="start">
            <ion-img [src]="item.logo"></ion-img>
        </ion-avatar>
        <ion-label>
            <h2 class="name">{{item.name}}</h2>
            <h3 class="reason" text-nowrap><span class="title">推荐理由: </span>{{item.reason}}</h3>
            <p class="fun"><span class="title">粉丝量: </span>{{item.funNum}}</p>
            <p class="weixin"><span class="title">微信公众号: </span><span class="id">{{item.ID}}</span></p>
        </ion-label>

        <ion-button class="copy" *ngIf="!item.hasCopy" ngxClipboard [cbContent]="item.ID"
                    (cbOnSuccess)="OnCopySuccessHandler($event, item)">复制
        </ion-button>
        <ion-button class="copy has-copy" *ngIf="item.hasCopy">已复制，去粘贴</ion-button>
    </ion-item>
</ion-content>
